openapi: 3.1.0
info:
  title: api-e-signing
  contact: { }
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  version: "2.0"
servers:
  - url: http://localhost:51847
    description: Generated server url
tags:
  - name: eSigning
    description: E-signing
paths:
  /{municipalityId}/e-signing/start:
    post:
      tags:
        - eSigning
      summary: Start a signing process
      operationId: startSigningProcess
      parameters:
        - name: municipalityId
          in: path
          description: Municipality id
          required: true
          schema:
            type: string
          example: 2281
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SigningRequest"
        required: true
      responses:
        "202":
          description: Accepted
          content:
            application/json: { }
        "400":
          description: Bad Request
          content:
            application/problem+json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Problem"
                  - $ref: "#/components/schemas/ConstraintViolationProblem"
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
        "503":
          description: Service Unavailable
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
  /api-docs:
    get:
      tags:
        - API
      summary: OpenAPI
      operationId: getApiDocs
      responses:
        "200":
          description: OK
          content:
            application/yaml:
              schema:
                type: string
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-mutual-ssl: Optional
components:
  schemas:
    Document:
      type: object
      description: Document model
      properties:
        descriptiveName:
          type: string
          description: Optional descriptive name for the document that is to be signed.
          examples:
            - Employment contract
        registrationNumber:
          type: string
          description: "The document registration number, the value must not be blank\
            \ or null"
          examples:
            - 12345-2022
          minLength: 1
        fileName:
          type: string
          description: "The document file name, the value must not be blank or null"
          examples:
            - document.pdf
          minLength: 1
      required:
        - fileName
        - registrationNumber
    Initiator:
      type: object
      description: Initiator model
      properties:
        name:
          type: string
          description: The initiator name
          examples:
            - John Doe
          minLength: 1
        partyId:
          type: string
          description: The initiator party id
          examples:
            - 550e8400-e29b-41d4-a716-446655440000
        organization:
          type: string
          description: The initiator organization
          examples:
            - Sundsvall Municipality
        email:
          type: string
          format: email
          description: The initiator email
          examples:
            - john.doe@sundsvall.se
      required:
        - email
        - name
        - partyId
    Message:
      type: object
      description: Message model
      properties:
        subject:
          type: string
          description: Subject of the message
          examples:
            - Please sign the document
          minLength: 1
        body:
          type: string
          description: Body of the message
          examples:
            - "Dear John Doe, please sign the document."
          minLength: 1
      required:
        - body
        - subject
    Reminder:
      type: object
      description: Reminder model
      properties:
        message:
          $ref: "#/components/schemas/Message"
          description: The reminder message
        intervalInHours:
          type: integer
          format: int32
          description: The reminder interval in hours
          examples:
            - "24"
          minimum: 1
        startDateTime:
          type: string
          format: date-time
          description: The reminder start date and time
          examples:
            - 2021-12-31T23:59:59Z
      required:
        - intervalInHours
        - message
        - startDateTime
    Signatory:
      type: object
      description: Signatory model
      properties:
        name:
          type: string
          description: The signatory name
          examples:
            - John Doe
          minLength: 1
        organization:
          type: string
          description: The signatory organization
          examples:
            - Sundsvall Municipality
        partyId:
          type: string
          description: The signatory party id
          examples:
            - 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          description: The signatory email
          examples:
            - john.doe@sundsvall.se
          minLength: 1
        notificationMessage:
          $ref: "#/components/schemas/Message"
          description: The notification message
      required:
        - email
        - name
        - partyId
    SigningRequest:
      type: object
      description: Signing request model
      properties:
        language:
          type: string
          description: "The language used for the signing instance. Valid values are\
            \ one of [en-US, sv-SE, da-DK, fr-FR, de-DE, nb-NO, ru-RU, zh-CN, fi-FI,\
            \ uk-UA]. Swedish will be used If no language is provided"
          examples:
            - sv-SE
        callbackUrl:
          type: string
          description: Optional callback url
          examples:
            - https://example.com/callback
        expires:
          type: string
          format: date-time
          description: "Optional date and time when the signing request expires. If\
            \ no exipre date is provided, expiretime will be set to 30 days from time\
            \ when request was received."
          examples:
            - 2021-12-31T23:59:59Z
        document:
          $ref: "#/components/schemas/Document"
          description: The document to sign
        initiator:
          $ref: "#/components/schemas/Initiator"
          description: The initiator of the signing request
        notificationMessage:
          $ref: "#/components/schemas/Message"
          description: The notification message
        reminder:
          $ref: "#/components/schemas/Reminder"
          description: Reminder object
        signatories:
          type: array
          items:
            $ref: "#/components/schemas/Signatory"
            minItems: 1
            uniqueItems: true
          minItems: 1
          uniqueItems: true
      required:
        - document
        - initiator
        - notificationMessage
        - signatories
    Problem:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/StatusType"
        title:
          type: string
        detail:
          type: string
        instance:
          type: string
          format: uri
        type:
          type: string
          format: uri
        parameters:
          type: object
          additionalProperties: { }
    StatusType:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        reasonPhrase:
          type: string
    ConstraintViolationProblem:
      type: object
      properties:
        cause:
          $ref: "#/components/schemas/ThrowableProblem"
        stackTrace:
          type: array
          items:
            type: object
            properties:
              classLoaderName:
                type: string
              moduleName:
                type: string
              moduleVersion:
                type: string
              methodName:
                type: string
              fileName:
                type: string
              lineNumber:
                type: integer
                format: int32
              className:
                type: string
              nativeMethod:
                type: boolean
        type:
          type: string
          format: uri
        status:
          $ref: "#/components/schemas/StatusType"
        violations:
          type: array
          items:
            $ref: "#/components/schemas/Violation"
        title:
          type: string
        message:
          type: string
        detail:
          type: string
        instance:
          type: string
          format: uri
        parameters:
          type: object
          additionalProperties: { }
        suppressed:
          type: array
          items:
            type: object
            properties:
              stackTrace:
                type: array
                items:
                  type: object
                  properties:
                    classLoaderName:
                      type: string
                    moduleName:
                      type: string
                    moduleVersion:
                      type: string
                    methodName:
                      type: string
                    fileName:
                      type: string
                    lineNumber:
                      type: integer
                      format: int32
                    className:
                      type: string
                    nativeMethod:
                      type: boolean
              message:
                type: string
              localizedMessage:
                type: string
        localizedMessage:
          type: string
    ThrowableProblem:
      type: object
      properties:
        cause: { }
        stackTrace:
          type: array
          items:
            type: object
            properties:
              classLoaderName:
                type: string
              moduleName:
                type: string
              moduleVersion:
                type: string
              methodName:
                type: string
              fileName:
                type: string
              lineNumber:
                type: integer
                format: int32
              className:
                type: string
              nativeMethod:
                type: boolean
        message:
          type: string
        status:
          $ref: "#/components/schemas/StatusType"
        title:
          type: string
        detail:
          type: string
        instance:
          type: string
          format: uri
        type:
          type: string
          format: uri
        parameters:
          type: object
          additionalProperties: { }
        suppressed:
          type: array
          items:
            type: object
            properties:
              stackTrace:
                type: array
                items:
                  type: object
                  properties:
                    classLoaderName:
                      type: string
                    moduleName:
                      type: string
                    moduleVersion:
                      type: string
                    methodName:
                      type: string
                    fileName:
                      type: string
                    lineNumber:
                      type: integer
                      format: int32
                    className:
                      type: string
                    nativeMethod:
                      type: boolean
              message:
                type: string
              localizedMessage:
                type: string
        localizedMessage:
          type: string
    Violation:
      type: object
      properties:
        field:
          type: string
        message:
          type: string
  securitySchemes: { }
